[Desktop Entry]
Name=Lingmo Screenshot
Name[ar]=لقطة شاشة Lingmo
Name[cs]=Snímky obrazovky Lingmo
Name[es]=Captura de pantalla
Name[pl]=Zrzuty ekranu Lingmo
Name[pt]=Captura de Tela
Name[ru]=Снимок экрана
Name[sv]=Lingmo Skärmbild
Name[zh_CN]=Lingmo 截图
Name[nl]=Lingmo schermafdrukken
Name[af]=Lingmo skermafdrukke
Name[hu]=Lingmo Képernyőkép
Type=Application
Exec=Lingmo-screenshot
Terminal=false
Categories=Lingmo;Utility;
Keywords=Lingmo;capture;screenshot;
Keywords[ar]=لقطة;صورة;شاشة;لقطة شاشة;
Keywords[cs]=Screenshot;snímek;snímky;zachytit;
Keywords[es]=Screenshot;Captura;Imprimir;Print;
Keywords[pt]=screenshot;print;
Keywords[ru]=Скриншот;Снимок;Экрана;
Keywords[sv]=Lingmo;fånga;skärmbild;inspelning;
Keywords[nl]=Lingmo;afdruk;schermafdruk;
Keywords[af]=Lingmo;afdruk;skermafdruk;
Keywords[hu]=rögzítés;
Icon=com.lingmoos.LingmoScreenshot
StartupNotify=true
