Source: lingmo-screenshot
Section: admin
Priority: optional
Maintainer: Lingmo OS Team <team@lingmo.org>
Build-Depends:
    debhelper-compat (=13),
    just (>= 1.13.0),
    rust-all,
Standards-Version: 4.6.2
Homepage: https://github.com/Matrinsoft/lingmo-screenshot

Package: lingmo-screenshot
Architecture: amd64 arm64
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Cosmic Screenshot Utility
